html, body {
  font-family: 'Bitter', serif;
}

$default-text-shadow-color: rgba(0,0,0, 0.75);
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;

h1 {
  font-size: 40px;
  line-height: 44px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 28px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 22px;
}

p {
  font-size: 16px;
  line-height: 20px;
}

a {
  font-size: 00px;
  line-height: 00px;
  text-decoration: none;
}

.bold {
  font-weight:bold;
}

.underline {
    text-decoration:underline;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
