@import "compass";
@import "normalize";
@import "reset";
@import "colors";
@import "fonts";
@import "base";

/* #General Styles
================================================== */
.hidden {
  display: none;
}

.noRight {
  margin-right: 0px !important;
}

.clear {
  clear:both;
}

img.retina {
  max-width: 100%;
  height: auto;
}

#aspot-banner {
  height: 400px;
  overflow: hidden;
  display: table;
  color: $white;
  margin: 60px 0 0 0;
  h1 {
    display: table-cell;
    vertical-align: middle;
    @include single-text-shadow;
  }
  p {
    @include single-text-shadow;
    padding-top: 10px;
  }
}

.main-content {
  height: 1000px;
  background: $light-gray;
  color: $dark-gray-text;
  padding: 30px 0px;
}

.section-header {
  padding: 20px 0px;
  background: $white;
  h2 {
    padding: 0 0 10px 0;
  }
}

@import "components/ui-elements";
@import "views/_footer";
@import "views/_home-page";
@import "views/_main-nav";
