doctype html
html(lang='en')
  head

    // Basic Page Needs
    // ==================================================
    meta(charset='utf-8')
    title Template
    meta(name='description', content='')
    meta(name='author', content='')

    // Mobile Specific Metas
    // ==================================================
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="format-detection", content="telephone=no")

    // CSS
    // ==================================================
    link(rel='stylesheet', href='css/main.css')

    // Scripts
    // ==================================================
    script(src='javascripts/vendor/requirejs/require.js')
    script(src='javascripts/require_config.js')
    <!--[if lt IE 10]>
    <link href="css/ie8Styles.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="javascripts/lib/ie8Script.min.js"></script>
    <![endif]-->
    // Favicons
    // ==================================================
    link(rel='shortcut icon', href='images/favicon.ico')

  body#home-page
    script.
      require(['jquery'], function($) {
        $(document).ready(function() {
          require(['javascripts/lib/main.min'], function() {
          });
        });
      });

    h1 Grunt Template
